
<h3>Контакты</h3>

<div class="IndexDescription">
    <div class="info-group clear">
        <div class="title1"><span>Адрес:</span></div>
        <div class="value"><span>Москва, ул.Новый Арбат, 8а</span></div>
    </div>
    <div class="info-group clear">
        <div class="title1"><span>Бронирование билетов:</span></div>
        <div class="value"><span>+7 (900) 800 32 32 </span></div>
    </div>
    <div class="info-group clear">
        <div class="title1"><span>E-mail:</span></div>
        <div class="value"><span>samplemail@mail.ru</span></div>
    </div>
</div>