@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Content/hallimage2.jpg" height="550" style="margin-top: 10px;"/>
</div>

    

<h3>О кинотеатре</h3>
<div class="IndexDescription">
    <div class="info-group clear">
        <div class="value"><span> Кинотеатр Россия существует с 1987 года. Повседневная практика показывает, что начало различных форм деятельности играет важную роль в формировании форм воздействия. Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Не следует, однако, забывать о том, что реализация намеченного плана развития способствует повышению актуальности позиций.</span></div>
    </div>
</div>

<h3>Контакты</h3>

<div class="IndexDescription">
    <div class="info-group clear">
        <div class="title1"><span>Адрес:</span></div>
        <div class="value"><span>Москва, ул.Новый Арбат, 8а</span></div>
    </div>
    <div class="info-group clear">
        <div class="title1"><span>Бронирование билетов:</span></div>
        <div class="value"><span>+7 (900) 800 32 32 </span></div>
    </div>
    <div class="info-group clear">
        <div class="title1"><span>E-mail:</span></div>
        <div class="value"><span>samplemail@mail.ru</span></div>
    </div>
</div>

